@model BrandViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid mb-2">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fas fa-fw fa-th-large"></i>
                Product
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Brand" asp-action="Index" class="text-dark">Setup Brand</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                Add New Brand
            </li>
        </ol>
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="d-flex justify-content-center">
        <div class="col-md-6">
            <!-- general form elements -->
            <div>
                <!-- form start -->
                <form method="post" id="form">
                    <div>
                        <div class="form-group">
                            <label asp-for="Name" class="label">Email address</label>
                            <input asp-for="Name" type="text" class="form-control form-control-sm">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Memo" class="label">Memo</label>
                            <input asp-for="Memo"  type="text" class="form-control form-control-sm">
                            <span asp-validation-for="Memo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="label">Status</label>
                            <select asp-for="Status" class="form-control form-control-sm select2" style="width: 100%;">
                                <option value="" selected="selected">---Please Select---</option>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end gx-20">
                        <input id="SaveButton" class="btn btn-sm btn-primary w-55 mr-1" type="button" value="Save" />
                        <input id="CancelButton" class="btn btn-sm btn-outline-primary w-55" type="button" value="Cancel" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //Assign Variable
            var isCreate = '@(Model == null || Model.Id == 0)' == 'True';

            $('#CancelButton').click(function (e) {
                e.preventDefault();
                window.location.href = '@Url.Action("Index")';
            });

            $('#SaveButton').click(function (e) {
                e.preventDefault();
                $("#form").submit();
            });

            //Initialize Select2 Elements
            $('.select2').select2();

            $("#form").submit(function (e) {
                e.preventDefault();
                if (!e.result) return; //check validation

                var serializeData = $('#form').serializeArray();

                $.ajax({
                    url: isCreate ? '@Url.Action("Create")' : '@Url.Action("Update")',
                    data: serializeData,
                    type: 'POST',
                    contentType: "application/json",
                    dataType: 'json',
                    beforeSend: function () {
                        $('#wait').show();
                    },
                    complete: function () {
                        $('#wait').hide();
                    },
                    success: function (result) {
                        console.log("====", result)
                        $('body, html').animate({
                            scrollTop: 0
                        }, 500);
                        if (result.errorCode == 0) // Save or update success
                        {
                            $('#SaveSuccess').fadeIn('slow');
                            window.setTimeout(function () {
                                $("#SaveSuccess").hide();
                            }, 5000);
                        } else {
                            $('#ErrorMessage').text(result.errorMessage);
                            $('#ErrorMessage').fadeIn('slow');
                            window.setTimeout(function () {
                                $("#ErrorMessage").hide();
                            }, 5000);
                        }
                    }
                });
            });

        });
    </script>
}
