@{
    ViewData["Title"] = "Home Page";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid mb-2">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fas fa-fw fa-th-large"></i>
                <span>Product</span>
            </li>
            <li class="breadcrumb-item">Setup Brand</li>
        </ol>
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <strong>View Brand</strong>
                        <span style="float: right">
                            <input id="AddRecordButton" class="btn btn-sm btn-outline-primary w-55" type="button" value="New" title="New Author" />
                        </span>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tableDatas" class="table table-bordered table-hover"></table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            var data = [
                {
                    "id": 1,
                    "name": "Tiger Nixon",
                    "position": "System Architect",
                    "salary": "$3,120",
                    "office": "Edinburgh",
                },
                {
                    "id": 2,
                    "name": "Garrett Winters",
                    "position": "Director",
                    "salary": "$5,300",
                    "office": "Edinburgh",
                }
            ];

            $('#tableDatas').DataTable({
                scrollY: "370pt",
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: false,
                responsive: true,
                rowId: 'Id',
                data: data,
                columns: [
                    { title: "Id", data: 'id' },
                    { title: "Name", data: 'name' },
                    { title: "Salary", data: 'salary' },
                    { title: "Office", data: 'office' },
                    { title: "Position", data: 'position' },
                ]
            });

            //create new record
            $("#AddRecordButton").click(function (e) {
                e.preventDefault();
                window.location.href = '@Url.Action("Create")';
            });


        });
    </script>
}
